апр 27, 2022 6:22:51 AM Server.Server start
INFO: Start server
апр 27, 2022 6:23:03 AM Server.Server newClient
INFO: Got command from /127.0.0.1
апр 27, 2022 6:23:03 AM Server.Server sendAnswer
INFO: Server sends answer
апр 27, 2022 6:23:15 AM Server.Server newClient
INFO: Got command from /127.0.0.1
апр 27, 2022 6:23:15 AM Server.Server sendAnswer
INFO: Server sends answer
апр 27, 2022 6:23:15 AM Server.Server newClient
INFO: Got command from /127.0.0.1
апр 27, 2022 6:23:18 AM Server.Server newClient
INFO: Got command from /127.0.0.1
апр 27, 2022 6:23:18 AM Server.Server sendAnswer
INFO: Server sends answer
апр 27, 2022 6:23:30 AM Server.Server newClient
INFO: Got command from /127.0.0.1
апр 27, 2022 6:23:30 AM Server.Server sendAnswer
INFO: Server sends answer
