апр 13, 2022 2:41:08 AM Server.Server start
INFO: Start server
апр 13, 2022 2:41:12 AM Server.Server newClient
INFO: Get command
апр 13, 2022 2:41:12 AM Server.Server sendAnswer
INFO: Server sends answer
апр 13, 2022 2:41:46 AM Server.Server newClient
INFO: Get command
апр 13, 2022 2:41:46 AM Server.Server sendAnswer
INFO: Server sends answer
апр 13, 2022 2:42:01 AM Server.Server newClient
INFO: Get command
апр 13, 2022 2:42:04 AM Server.Server newClient
INFO: Get command
апр 13, 2022 2:42:04 AM Server.Server sendAnswer
INFO: Server sends answer
апр 13, 2022 2:42:16 AM Server.Server newClient
INFO: Get command
апр 13, 2022 2:42:16 AM Server.Server sendAnswer
INFO: Server sends answer
апр 13, 2022 2:42:56 AM Server.Server newClient
INFO: Get command
апр 13, 2022 2:42:56 AM Server.Server sendAnswer
INFO: Server sends answer
